* {
  box-sizing: border-box;
  margin: 0;
  transition: 0.35s ease-in; }

.container {
  width: 100%;
  max-width: 1366px;
  font-family: 'Lato', sans-serif; }

.row:before,
.row:after {
  content: '';
  clear: both;
  display: block; }

[class*=col-] {
  float: left;
  padding: 0 20px;
  min-height: 1px; }
  [class*=col-].collapsed {
    padding: 0; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

@media (min-width: 480px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

.stripe {
  background-color: blue;
  min-height: 2rem;
  margin: 5px 0; }

.sidebar {
  background-color: cyan;
  min-height: 100px; }

.footer {
  background-color: #fff;
  min-height: 50px; }

* {
  font-family: 'Lato', sans-serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 62.5%;
      transition: 0.35s ease-in; } }
  @media (max-width: 1020px) {
    html {
      font-size: 62.5%;
      transition: 0.35s ease-in; } }
  @media (max-width: 768px) {
    html {
      font-size: 40%;
      transition: 0.35s ease-in; } }
  html h1 {
    font-size: 3.5rem; }
  html h2 {
    font-size: 2.2rem; }
  html h3 {
    font-size: 1.8rem; }
  html p, html a, html span {
    font-size: 1.4rem;
    line-height: 1.375em; }
  html li {
    font-size: 1.5rem; }

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #9d9d9d;
  background-color: #f1f1f1;
  width: 100%;
  height: 90px;
  color: #000;
  z-index: 100; }
  @media (max-width: 1020px) {
    .header {
      flex-direction: column;
      align-items: center;
      height: 125px;
      padding-bottom: 15px; } }
  @media (max-width: 768px) {
    .header {
      align-items: stretch;
      height: 66px; } }

.logo img {
  width: 120px;
  height: 50px;
  margin: 15px 0 0 65%;
  cursor: pointer; }
  @media (max-width: 1020px) {
    .logo img {
      margin: 15px auto; } }
  @media (max-width: 768px) {
    .logo img {
      width: 90px;
      height: 40px;
      margin: 12px 0 0 11px; } }

.nav {
  padding-left: 26%; }
  @media (max-width: 1020px) {
    .nav {
      margin: 0;
      width: 100%;
      text-align: center;
      padding: 0%; } }
  @media (max-width: 1120px) {
    .nav {
      padding-left: 10%; } }
  @media (max-width: 1020px) {
    .nav {
      padding-left: 0; } }
  .nav .main_menu {
    padding: 0; }
    @media (max-width: 768px) {
      .nav .main_menu {
        display: none; } }
    .nav .main_menu li {
      display: inline-block;
      font-size: 1.4rem;
      padding: 4.8% 1.1%;
      list-style: none;
      height: 90px; }
    @media (max-width: 768px) {
      .nav .main_menu {
        padding: 2% 1%;
        height: 50px; } }
  .nav .hamburger_buttons {
    display: none; }
    @media (max-width: 768px) {
      .nav .hamburger_buttons {
        display: block; } }
  .nav .hamburger_button {
    position: absolute;
    z-index: 900;
    top: 0;
    right: 0;
    padding: 12px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: none;
    font-size: 26px;
    font-weight: bold;
    line-height: 45px; }
  .nav .cross {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0;
    display: none;
    padding: 10px 50px 0px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: none;
    font-size: 8rem;
    font-weight: bold;
    line-height: 65px; }
  .nav .mobile_menu {
    position: fixed;
    z-index: 101;
    top: 92px;
    left: -500px;
    display: block;
    float: right;
    overflow-y: hidden;
    width: 320px;
    width: 350px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    transition: left 0.35s ease-in;
    background: #fff; }
    .nav .mobile_menu li {
      position: relative;
      display: block;
      width: 300px;
      margin: 0 auto;
      padding: 3% 5%;
      cursor: pointer;
      border-bottom: 1px solid #cbcbcb; }

.slider {
  width: 100%; }

.slider_images {
  width: 100%;
  max-height: 506px;
  object-fit: contain;
  padding: 0; }

.slider_text {
  width: 100%;
  height: 10vw;
  position: absolute;
  margin: 15% 0 0 5%;
  z-index: 10; }
  @media (max-width: 1020px) {
    .slider_text {
      margin: 15% 0 0 15%; } }
  .slider_text h1 {
    font-weight: 400;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #fff;
    line-height: 5rem; }
    @media (max-width: 1020px) {
      .slider_text h1 {
        font-size: 3rem;
        line-height: 4rem; } }
    @media (max-width: 480px) {
      .slider_text h1 {
        font-size: 2rem; } }

.offer {
  padding-bottom: 35px; }

.box1 .box_image, .box2 .box_image, .box3 .box_image {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  margin: 10px auto;
  object-fit: contain; }

.box1 h3, .box2 h3, .box3 h3 {
  font-weight: 600;
  text-align: center;
  color: #000;
  margin: 0 10% 10px 10%; }
  @media (max-width: 768px) {
    .box1 h3, .box2 h3, .box3 h3 {
      font-size: 2.5rem;
      margin: 2% 0; } }

.box1 p, .box2 p, .box3 p {
  color: #333333;
  text-align: center;
  margin: 0 7% 20px 7%; }
  @media (max-width: 768px) {
    .box1 p, .box2 p, .box3 p {
      font-size: 2rem;
      margin: 2% 0; } }

.box1 a, .box2 a, .box3 a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #3277e9;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  font-weight: 600; }
  @media (max-width: 768px) {
    .box1 a, .box2 a, .box3 a {
      font-size: 2.5rem;
      margin: 2% 0; } }

.box1 .box_image {
  background-image: url("../images/box1_img.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain; }

.box1 .box_text {
  max-height: 50vh; }

.box_content {
  width: 100%;
  min-height: 505px;
  margin-top: 20px;
  border: 2px solid #d8d8d8; }

.price_comparision {
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
  background: #f1f1f1; }
  @media (max-width: 768px) {
    .price_comparision {
      padding-bottom: 980px; } }
  .price_comparision a {
    display: block;
    margin: 25px auto 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #3277e9;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: inherit; }

.price_comparing_title {
  width: 100%;
  height: 10vh;
  margin-bottom: 30px;
  text-align: center; }
  .price_comparing_title h3 {
    padding: 25px 0;
    color: #000;
    font-size: 3rem;
    font-weight: 400; }

.price_comparing_info {
  display: block;
  width: 100%;
  margin-top: 35px;
  padding: 0 18%;
  text-align: center;
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    .price_comparing_info {
      font-size: 2rem;
      padding: 0 5%; } }

.price_comparing_table {
  width: 100%;
  height: 90vh; }
  .price_comparing_table .table_mobile {
    display: none; }
    @media (max-width: 768px) {
      .price_comparing_table .table_mobile {
        display: block;
        box-sizing: border-box;
        font-size: 2rem;
        font-size: 2.2rem; }
        .price_comparing_table .table_mobile tr:nth-child(odd) {
          background: #dfdfdf; }
        .price_comparing_table .table_mobile tr:nth-child(even) td:nth-child(1) {
          background: #cbcbcb; } }
  .price_comparing_table .table_desktop {
    display: block; }
    @media (max-width: 768px) {
      .price_comparing_table .table_desktop {
        display: none; } }
    .price_comparing_table .table_desktop tr:nth-child(3) {
      font-size: 2rem; }
    .price_comparing_table .table_desktop td {
      margin: 0;
      border-top: 1px solid #AAAAAA; }
    .price_comparing_table .table_desktop td:nth-child(2) {
      margin: 0;
      background: #cbcbcb; }
    .price_comparing_table .table_desktop tr:hover {
      background: #AAAAAA; }
  .price_comparing_table table {
    width: 100%;
    text-align: center;
    font-size: 1.5rem; }
  .price_comparing_table tr {
    height: 50px; }
  .price_comparing_table th {
    width: 25%;
    height: 50px;
    color: #fff;
    background: #e50a34; }

.td_red {
  color: #e50a34;
  font-size: 2rem;
  font-weight: bold; }

.red {
  color: #e50a34; }
  @media (max-width: 768px) {
    .red {
      font-size: 2rem; } }

.advantages {
  width: 100%;
  padding-bottom: 25px;
  font-size: 1.5rem; }

.advantages_text {
  text-align: center;
  color: #222222; }
  .advantages_text h2 {
    padding: 2% 0;
    font-size: 3rem;
    font-weight: 400; }
  .advantages_text p {
    padding: 0 8%;
    margin-bottom: 15px; }

.advantages_tiles {
  padding: 2% 0 2% 17%; }
  @media (max-width: 768px) {
    .advantages_tiles {
      padding-left: 0;
      width: 100%; } }

.advantages_icons_icon {
  height: 80px;
  width: 80px;
  margin: 15px 0 0 1%; }
  @media (max-width: 768px) {
    .advantages_icons_icon {
      width: 45px;
      height: 45px;
      margin: 20px 0 0 1%; } }

.icon1 {
  background-image: url("../images/train.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon2 {
  background-image: url("../images/media.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon3 {
  background-image: url("../images/lokalizacja.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon4 {
  background-image: url("../images/edukacja.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon5 {
  background-image: url("../images/wlasnosc.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon6 {
  background-image: url("../images/bezpieczenstwo.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon7 {
  background-image: url("../images/sport.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon8 {
  background-image: url("../images/oszczednosc.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.advantages_icons_text {
  margin: 15px 0 0 1%;
  line-height: 1.2;
  padding-right: 10%; }
  @media (max-width: 768px) {
    .advantages_icons_text {
      padding-right: 0; } }
  .advantages_icons_text h2 {
    color: #e50a34;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .advantages_icons_text h2 {
        font-size: 2.5rem; } }
  @media (max-width: 768px) {
    .advantages_icons_text p {
      font-size: 2rem; } }

.contact {
  width: 100%;
  margin-bottom: 20px;
  background: #f1f1f1;
  font-size: 1.5rem; }

.contact_texts {
  margin-top: 25px;
  text-align: center;
  font-size: 2rem; }
  .contact_texts h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.4; }
  .contact_texts .contact_text {
    padding: 5px 0; }
    .contact_texts .contact_text span {
      font-size: 2rem; }
    .contact_texts .contact_text a {
      text-decoration: none;
      font-size: 2rem; }
    .contact_texts .contact_text .iconPhone::before {
      content: url("../images/phone_small.png");
      display: inline-block;
      padding-right: 10px;
      height: 20px;
      width: 20px; }
    .contact_texts .contact_text .iconMail::before {
      content: url("../images/mail_small.png");
      display: inline-block;
      object-fit: contain;
      padding-right: 10px;
      height: 20px;
      width: 20px; }

.terms {
  width: 100%;
  margin-top: 40px; }

.terms_newsletter .terms_newsletter_text {
  padding-left: 16%; }
  @media (max-width: 768px) {
    .terms_newsletter .terms_newsletter_text {
      padding-left: 3%; } }
  .terms_newsletter .terms_newsletter_text span {
    font-size: 1.3rem; }
    @media (max-width: 768px) {
      .terms_newsletter .terms_newsletter_text span {
        font-size: 2.1rem; } }
  .terms_newsletter .terms_newsletter_text h2 {
    font-size: 2rem;
    font-weight: 400; }
    @media (max-width: 768px) {
      .terms_newsletter .terms_newsletter_text h2 {
        font-size: 2.5rem; } }

.terms_newsletter input[type=text] {
  display: inline-block;
  width: 100%;
  margin: 35px 0 0;
  padding: 0 0.5rem;
  font-size: 2rem;
  border: 1px solid #000;
  line-height: 32px;
  height: 32px;
  color: #000; }

.terms_newsletter input[type=submit] {
  background-color: #e50a34;
  text-decoration: none;
  color: #fff;
  outline: none;
  font-size: 1.3rem;
  padding: 0.8rem 2rem;
  margin-top: 3.3rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer; }
  @media (max-width: 768px) {
    .terms_newsletter input[type=submit] {
      font-size: 2rem; } }
  .terms_newsletter input[type=submit]:hover {
    background-color: #ab1e31; }

.terms_acceptances {
  margin-top: 20px;
  font-size: 1.35rem; }
  .terms_acceptances .terms_acceptance_input {
    padding-left: 15%; }

.terms_acceptance {
  display: flex;
  flex-direction: row;
  margin: 1% 0; }
  .terms_acceptance input[type=checkbox] {
    width: 16px;
    height: 16px;
    padding-left: 25%; }
  .terms_acceptance .terms_acceptance_text {
    padding: 0 25% 0 0;
    line-height: 2rem; }

.footer {
  width: 100%;
  height: 10vh;
  background-color: #3a3636;
  color: #fff; }
  .footer span {
    display: block;
    float: left;
    font-size: 1.35rem;
    margin: 25px 0 25px 10%; }
  .footer ul {
    float: right;
    margin: 25px 10% 0; }
  .footer li {
    color: #fff; }
