html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 55%;
      transition: 0.35s ease-in; } }
  @media (max-width: 1020px) {
    html {
      font-size: 44%;
      transition: 0.35s ease-in; } }
  @media (max-width: 768px) {
    html {
      font-size: 40%;
      transition: 0.35s ease-in; } }

h1 {
  font-size: 10vw; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

img, video, canvas {
  max-width: 100%; }

* {
  box-sizing: border-box;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1366px;
  font-family: 'Lato', sans-serif; }

.row:before,
.row:after {
  content: '';
  clear: both;
  display: block; }

[class*=col-] {
  float: left;
  padding: 0 20px;
  min-height: 1px; }
  [class*=col-].collapsed {
    padding: 0; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 1366px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

.stripe {
  background-color: blue;
  min-height: 2rem;
  margin: 5px 0; }

.sidebar {
  background-color: cyan;
  min-height: 100px; }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  min-height: 92px;
  border-bottom: 2px solid #9d9d9d; }

.footer {
  background-color: #fff;
  min-height: 50px; }

.header {
  position: fixed; }

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120px 50px; }
  @media (max-width: 1020px) {
    .logo {
      padding: 0 !important;
      transition: 0.35s ease-in; } }

.nav {
  margin-top: 35px;
  padding-left: 15%; }
  @media (max-width: 1020px) {
    .nav {
      padding-left: 20px;
      transition: 0.35s ease-in; } }
  @media (max-width: 768px) {
    .nav ul.main {
      display: none; } }
  .nav li {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.4rem;
    color: #000;
    list-style: none;
    font-family: 'Lato', sans-serif; }
  .nav .hamburger_box {
    display: none; }
    @media (max-width: 768px) {
      .nav .hamburger_box {
        display: block; } }
  .nav .hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 25px 50px 0px 30px;
    color: #999;
    border: 0;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 100; }
  .nav .cross {
    display: none;
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 25px 50px 0px 30px;
    color: #999;
    border: 0;
    font-size: 6rem;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 100; }
  .nav .mobile_menu {
    background: #fff;
    display: block;
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    top: 92px;
    left: -360px;
    width: 360px;
    z-index: 101;
    will-change: left;
    transition: left 0.35s ease-in; }
    .nav .mobile_menu ul {
      float: right;
      width: 350px;
      margin: 0 auto;
      padding: 0;
      list-style-type: none; }
    .nav .mobile_menu li {
      font-size: 1.3rem;
      padding: 3% 5%;
      border-bottom: 1px solid #cbcbcb;
      display: block;
      width: 300px;
      margin: 0 auto;
      cursor: pointer;
      position: relative; }

.slider {
  width: 100%;
  height: 90vh;
  background-image: url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.slider_text {
  width: 47%;
  margin: 15% 0 0 1%;
  font-family: "Lato","MyriadPro",sans-serif;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  text-align: center; }

.offer {
  height: 90vh; }

.box1 .box_image, .box2 .box_image, .box3 .box_image {
  width: 95%;
  height: 50%;
  margin: 10px auto; }

.box1 h3, .box2 h3, .box3 h3 {
  font-weight: 600;
  text-align: center;
  color: #000;
  font-size: 1.9rem;
  margin: 0 10% 10px 10%; }

.box1 p, .box2 p, .box3 p {
  color: #333333;
  font-size: 1.35rem;
  text-align: center;
  margin: 0 7% 20px 7%; }

.box1 a, .box2 a, .box3 a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #3277e9;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.35rem; }

.box1 {
  height: 85vh; }
  .box1 .box_image {
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }

.box2 {
  height: 85vh; }
  .box2 .box_image {
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }

.box3 {
  height: 85vh; }
  .box3 .box_image {
    background-image: url("../images/box3_img.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }

.box_content {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  border: 2px solid #d8d8d8; }

.price_comparision {
  background: #f1f1f1;
  height: 155vh;
  margin-bottom: 10px; }
  .price_comparision a {
    display: block;
    margin: 25px auto 0 auto;
    text-align: center;
    color: #3277e9;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.8rem; }

.price_comparing_title {
  height: 10vh;
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }
  .price_comparing_title h3 {
    padding: 25px 0;
    font-size: 3rem;
    font-weight: 400;
    color: #000; }

.price_comparing_info {
  display: block;
  width: 100%;
  padding: 0 18%;
  height: 5vh;
  margin-top: 35px;
  text-align: center;
  font-size: 1.5rem; }

.price_comparing_table {
  height: 90vh;
  width: 100%; }
  .price_comparing_table table {
    width: 100%;
    font-size: 1.5rem;
    text-align: center; }
  .price_comparing_table tr {
    height: 50px; }
  .price_comparing_table tr:hover {
    background: #AAAAAA; }
  .price_comparing_table th {
    background: #e50a34;
    color: #fff;
    height: 60px;
    width: 25%; }
  .price_comparing_table tr:nth-child(3) {
    font-size: 2rem; }
  .price_comparing_table td {
    border-top: 1px solid #AAAAAA;
    margin: 0; }
  .price_comparing_table td:nth-child(2) {
    background: #cbcbcb;
    margin: 0; }

.td_red {
  color: #e50a34;
  font-size: 2rem;
  font-weight: bold; }

.red {
  color: #e50a34; }

.advantages {
  width: 100%;
  height: 112vh;
  font-size: 1.5rem; }

.advantages_text {
  text-align: center;
  color: #222222; }
  .advantages_text h2 {
    padding: 2% 0;
    font-size: 3rem;
    font-weight: 400; }
  .advantages_text p {
    padding: 0 8%;
    margin-bottom: 15px; }

.advantages_tiles {
  height: 112px;
  padding-left: 12%; }

.advantages_icons_icon {
  height: 80px;
  width: 80px;
  margin: 15px 0 0 1%; }

.icon1 {
  background-image: url("../images/train.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon2 {
  background-image: url("../images/media.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon3 {
  background-image: url("../images/lokalizacja.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon4 {
  background-image: url("../images/edukacja.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon5 {
  background-image: url("../images/wlasnosc.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon6 {
  background-image: url("../images/bezpieczenstwo.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon7 {
  background-image: url("../images/sport.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.icon8 {
  background-image: url("../images/oszczednosc.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.advantages_icons_text {
  margin: 15px 0 0 1%;
  line-height: 1.2;
  padding-right: 10%; }
  .advantages_icons_text h2 {
    color: #e50a34;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase; }

.contact {
  width: 100%;
  height: 22vh;
  background: #f1f1f1;
  font-size: 1.5rem; }

.contact_text {
  margin-top: 25px;
  text-align: center; }
  .contact_text h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.4; }

.terms {
  width: 100%;
  height: 45vh;
  margin-top: 20px; }

.terms_newsletter span {
  font-size: 1.3rem; }

.terms_newsletter h2 {
  font-size: 2rem;
  font-weight: 400; }

.terms_newsletter input[type=text] {
  display: block;
  width: 100%;
  margin: 3.5rem 0 1rem;
  padding: 0 0.5rem;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #000;
  line-height: 32px;
  height: 32px;
  box-shadow: none;
  color: #000; }

.terms_newsletter input[type=submit] {
  background-color: #e50a34;
  text-decoration: none;
  color: #fff;
  outline: none;
  font-size: 1.3rem;
  padding: 0.8rem 2rem;
  margin-top: 3.3rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer; }
  .terms_newsletter input[type=submit]:hover {
    background-color: #ab1e31; }

.terms_acceptance {
  margin-top: 20px;
  font-size: 1.35rem; }
  .terms_acceptance input[type=checkbox] {
    display: block;
    float: left;
    width: 16px;
    height: 16px; }
  .terms_acceptance span {
    display: block;
    float: left; }

.footer {
  width: 100%;
  height: 10vh;
  background-color: #3a3636;
  color: #fff; }
  .footer span {
    display: block;
    float: left;
    font-size: 1.35rem;
    margin: 25px 0 25px 10%; }
  .footer ul {
    float: right;
    margin: 25px 10% 0; }
  .footer li {
    color: #fff; }
