.contact{
  width: 100%;
  margin-bottom:20px;
  background: #f1f1f1;
  font-size: 1.5rem;
}

.contact_texts{
  margin-top: 25px;
  text-align: center;
  font-size:2rem;
  h1{
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.4;
  }
  .contact_text{
    padding:5px 0;
  span{
    font-size: 2rem;
  }
  a{
    text-decoration: none;
    font-size: 2rem;
  }
  .iconPhone::before{
    content:url('../images/phone_small.png');
    display: inline-block;
    padding-right:10px;
    height: 20px;
    width: 20px;
  }
  .iconMail::before{
    content:url('../images/mail_small.png');
    display: inline-block;
    object-fit: contain;
    padding-right:10px;
    height: 20px;
    width: 20px;
  }
}
}
