@import "modules/mixins";
.header{
  // position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #9d9d9d;
  background-color: #f1f1f1;

  width: 100%;
  height: 90px;
  color: #000;
  z-index: 100;
  @media(max-width:1020px){
    flex-direction: column;
    align-items: center;
    height:125px;
    padding-bottom: 15px;
  }
  @media(max-width:768px){
    align-items:stretch;
    height: 66px;
  }
}
.logo{
  img{
    width: 120px;
    height: 50px;
    margin: 15px 0 0 65%;
    cursor:pointer;
    @media(max-width:1020px){
    margin:15px auto;
    }
    @media(max-width:768px){
      width:90px;
      height:40px;
      margin: 12px 0 0 11px;    }
  }

}

.nav{
  padding-left:26%;
  @media(max-width:1020px){
    margin: 0;
    width: 100%;
    text-align: center;
    padding:0%;
  }
  @media(max-width:1120px){
    padding-left:10%;
  }
  @media(max-width:1020px){
    padding-left:0;
  }

.main_menu{
  padding:0;

  @media(max-width: 768px){
  display: none;
  }
li{
  display: inline-block;
  font-size:1.4rem;
  padding:4.8% 1.1%;
  list-style: none;
  height: 90px;
}
  @media(max-width:768px){
    padding:2% 1%;
    height: 50px;
  }
}
.hamburger_buttons{
  display: none;
  @media(max-width: 768px){
  display: block;
    }
  }

.hamburger_button{
  position:absolute;
  z-index:900;
  top:0;
  right:0;

  padding:12px 30px;

  cursor:pointer;

  border:0;
  outline:none;
  background:none;

  font-size:26px;
  font-weight:bold;
  line-height:45px;
  }
.cross{
  position:absolute;
  z-index:100;
  top:0px;
  right:0;

  display: none;

  padding:10px 50px 0px 30px;

  cursor:pointer;

  border:0;
  outline:none;
  background:none;

  font-size:8rem;
  font-weight:bold;
  line-height:65px;
  }
.mobile_menu{
  position: fixed;
  z-index: 101;
  top: 92px;
  left: -500px;

  display: block;
  float: right;
  overflow-y:hidden;

  width: 320px;
  width: 350px;
  height: 100vh;
  margin:0 auto;
  padding:0;

  list-style-type:none;
  // padding: 0 1.25rem 1.25rem;

  transition: left 0.35s ease-in;

  background: #fff;
  li{
  position: relative;

  display: block;

  width: 300px;
  margin: 0 auto;
  padding:3% 5%;

  cursor:pointer;

  border-bottom: 1px solid #cbcbcb;
  }
}
}
