@import "modules/mixins";

.header{
  position: fixed;

  display: flex;

  width: 100%;

  color: #000;
  // transition:0.35s ease-in;

}
.logo{
  background-image: url('../images/logo.svg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 120px 50px;
}

.nav{
  margin-top:37px;
  padding-left: 15%;

  @media(max-width:1100px){
    padding-left: 10%;

  }
  @media(max-width:900px){
    padding-left: 0%;

  }

.main_menu{
  @media(max-width: 768px){
  display: none;
  }
}
li{
  display: inline-block;

  margin-right: 15px;

  list-style: none;
}
.hamburger_buttons{
  display: none;
  @media(max-width: 768px){
  display: block;
    }
  }

.hamburger_button{
  position:absolute;
  z-index:100;
  top:0;
  right:0;

  padding:25px 50px 0px 30px;

  cursor:pointer;

  border:0;
  outline:none;
  background:none;

  font-size:6rem;
  font-weight:bold;
  line-height:45px;
  }
.cross{
  position:absolute;
  z-index:100;
  top:0px;
  right:0;

  display: none;

  padding:25px 50px 0px 30px;

  cursor:pointer;

  border:0;
  outline:none;
  background:none;

  font-size:8rem;
  font-weight:bold;
  line-height:65px;
  }
.mobile_menu{
  position: fixed;
  z-index: 101;
  top: 92px;
  left: -500px;

  display: block;
  float: right;
  overflow-y:hidden;

  width: 320px;
  width: 350px;
  height: 100vh;
  margin:0 auto;
  padding:0;

  list-style-type:none;
  // padding: 0 1.25rem 1.25rem;

  transition: left 0.35s ease-in;

  background: #fff;
  li{
  position: relative;

  display: block;

  width: 300px;
  margin: 0 auto;
  padding:3% 5%;

  cursor:pointer;

  border-bottom: 1px solid #cbcbcb;
  }
}
}
