.price_comparision {
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  @media(max-width:768px){
  padding-bottom:980px;
  }

  a {
    display: block;

    margin: 25px auto 0;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #3277e9;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: inherit;
  }
}

.price_comparing_title {
  width: 100%;
  height: 10vh;
  margin-bottom: 30px;

  text-align: center;

  h3 {
    padding: 25px 0;

    color: #000;

    font-size: 3rem;
    font-weight: 400;
  }
}

.price_comparing_info {
  display: block;

  width: 100%;
  // height: 5vh;
  margin-top: 35px;
  padding: 0 18%;

  text-align: center;

  font-size: 1.5rem;

  @media(max-width:768px){
  font-size: 2rem;
  padding: 0 5%;
  }
}


.price_comparing_table {
  width: 100%;
  height: 90vh;


  .table_mobile {
    display: none;
    @media(max-width:768px) {
      display: block;
      box-sizing: border-box;
      font-size: 2rem;
      font-size: 2.2rem;

      tr:nth-child(odd) {
        background: #dfdfdf;
      }

      tr:nth-child(even) {
        td:nth-child(1) {
          background: #cbcbcb;
        }
      }
    }
  }

  .table_desktop {
    display: block;
    @media(max-width:768px) {
      display: none;
    }
    tr:nth-child(3) {
      font-size: 2rem;
    }
    td {
      margin: 0;

      border-top: 1px solid #AAAAAA;
    }

    td:nth-child(2) {
      margin: 0;

      background: #cbcbcb;
    }

    tr:hover {
      background: #AAAAAA;
    }
  }

  table {
    width: 100%;

    text-align: center;

    font-size: 1.5rem;
  }

  tr {
    height: 50px;
  }

  th {
    width: 25%;
    height: 50px;

    color: #fff;
    background: #e50a34;
  }
}

.td_red {
  color: #e50a34;

  font-size: 2rem;
  font-weight: bold;
}

.red {
  color: #e50a34;
  @media(max-width:768px){
  font-size: 2rem;
  }
}
