.slider{
  width: 100%;
  display:flex;
  overflow: hidden;
  position: relative;
}
.slideWraper{

  position: relative;

}
.slideLeft{
  animation: moveLeft 0.5s linear forwards;
}
.slideRight{
  animation: moveRight 0.5s linear forwards;
}

@keyframes moveLeft {
  0%{
    right:100%;
  }
  100%{
    right:0%;
  }
}
@keyframes moveRight {
  0%{
    right:0%;
  }
  100%{
  right:100%;
  }
}
.slider_images{
  padding: 0;
  img{
    max-width: 100%;
    max-height:506px;
    object-fit: contain;
  }
}
.slider_hide{
  position: absolute;
  left:100%;
}
.slider_circles{
  position: absolute;
  width: 200px;
  bottom:5%;
  left:48%;
  z-index: 200;

}

.circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border:solid 2px #fff;
  background: #e50a34;
  margin-right: 10px;
  cursor: pointer;

  @media(max-width: 768px){
    width: 10px;
    height: 10px;
    border:solid 1px #fff;
  }
}
.circle_hide{
  background: #fff;
}
.slider_text{
  width: 95%;
  height: 10vw;
  position: absolute;
  margin: 15% 0 0 5%;
  z-index: 10;
  @media(max-width: 1020px){
    margin: 15% 0 0 15%;
  }

  h1{
    font-weight: 400;
    text-shadow:0 0 7px rgba(0,0,0,0.85);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: left;
    color:#fff;
    line-height: 5rem;

    @media(max-width: 1020px){
      font-size: 3rem;
      line-height: 4rem;

    }
    @media(max-width: 480px){
      font-size: 2rem;

    }

  }
}
