.terms{
  width: 100%;
  margin-top:40px;
}
.terms_newsletter{
  .terms_newsletter_text{
    padding-left: 16%;
    @media(max-width:768px){
      padding-left:3%;
    }
    span{
      font-size: 1.3rem;
      @media(max-width:768px){
      font-size: 2.1rem;
      }
    }
    h2{
      font-size: 2rem;
      font-weight: 400;
      @media(max-width:768px){
      font-size: 2.5rem;
      }
    }
  }

  input[type=text]{
    display: inline-block;
    width: 100%;
    margin: 35px 0 0;
    padding: 0 0.5rem;
    font-size:2rem;
    border: 1px solid #000;
    line-height: 32px;
    height: 32px;
    color: #000;
  }
  input[type=submit]{
  background-color:#e50a34;
  text-decoration: none;
  color: #fff;
  outline: none;
  font-size: 1.3rem;
  padding: 0.8rem 2rem;
  margin-top: 3.3rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer;
  @media(max-width:768px){
  font-size: 2rem;
  }
  &:hover{
    background-color: #ab1e31;
  }
  }
}

.terms_acceptances{
    margin-top: 20px;
    font-size: 1.35rem;
    .terms_acceptance_input{
      padding-left: 15%;
      // @media(max-width:1020px){
      //   padding-left:8%;
      // }
    }
}

.terms_acceptance{
  display:flex;
  flex-direction: row;
  margin:1% 0;
  input[type=checkbox]{
    width: 16px;
    height: 16px;
    padding-left: 25%;
  }
  .terms_acceptance_text{
    padding:0 25% 0 0;
    line-height:2rem;
  }
}
